<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>spring boot demo html</title>
    <script src="js/jquery-3.3.1.js"></script>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body style="background-color: rgb(239, 245, 246);">
<div th:replace="header.html :: header "></div>
<div id="app">

    <div class="col-md-3" v-for="product in products">
        <div class="thumbnail" width="150px" high="150px">
            <img v-bind:src="product.image" alt="">
            <div class="caption">
                <h3>{{product.pname}}</h3>
                <p color="red">￥：{{product.price}}</p>
                <p><a :href="'productInfo?pid=' +  product.pId" class="btn btn-primary" role="button">加入购物车</a></p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var vm = new Vue({
        el:'#app',
        data:{
            product:{
                pname:'',
                pid:'',
                image:'',
                price:'',
                category:'',
            },
            products:[]
        },
        methods:{
            findAll:function () {
                var _this = this;//表明this是vue里的对象
                axios.get('product')
                    .then(function (response) {
                        _this.products=response.data;
                        console.log(_this.products);
                    })
            }
        },
        created:function () {
            this.findAll();
        }


    });

</script>
</body>
</html>